* {
    font-family: "Audiowide", sans-serif; 
    font-size: 20px; 
}

body { 
    background-image: radial-gradient(circle, #57585c, #27282b);
    scroll-behavior: smooth;
} 

.navbar {
    background: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px); 
  }

  .stick-to-h1 h1 {
    position: sticky;
    top: 0;
}
#mySection {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px; 
}



.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.solid-break-line {
  border: 0;
  height: 10px; /* Adjust the height as needed */
  width: 85dvw;
  background-color: #000; /* Change the color as needed */
  margin-top: 0; /* Adjust the margin-top as needed */
  margin-bottom: 20px; /* Adjust the margin-bottom as needed */
}


.sidenav {
  height: 38%;
  width: 60px;
  position: sticky; /* Changed from fixed to sticky */
  z-index: 1;
  top: 160px; /* Adjust the top position as needed */
  left: 5px;
  background-color: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  opacity: 0.8; 
  border-radius: 20px;
}


.sidenav a {
  padding: 10px; 
  text-decoration: none; 
  font-size: 10px; 
  color: #fff; 
  display: block; 
  transition: 0.3s; 
}

.sidenav a:hover {
  background-color: #ffc107; 
  border-radius: 20px;
}

.section {
    position: relative;
    height: 100vh; /* Make the section cover the viewport height */
  }

  .bg-frosted {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    z-index: -1; /* Move the frosted background behind the content */
  }



  .text-white {
    color: white;
  }

  /* Style for content inside section */
  .section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  /* Center content vertically and horizontally */
  .v-center {
    align-items: center;
  }

  .h-center {
    justify-content: center;
  }
  
  