* {
    font-family: "Audiowide", sans-serif; 
    font-size: 20px; 
}

body { 
    background-image: radial-gradient(circle, #57585c, #27282b);
} 

.navbar {
    background: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px); 
  }

  .stick-to-h1 h1 {
    position: sticky;
    top: 0;
}
#mySection {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px; 
}



.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}
